.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999;
}

.header .header_container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 60px;
    background: rgb(var(--mou_background), 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 0 0 25px 25px; */
    box-shadow: -2px 0px 10px rgb(0 0 0 / 25%), 0px 0px 10px rgb(0 0 0 / 25%), inset 5px 5px 10px rgb(36 36 36 / 50%), inset -5px -5px 20px rgb(0 0 0 / 20%), inset 0px -5px 18px rgb(0 0 0 / 75%);
    backdrop-filter: blur(5px);
    padding: 0 8px;
}

.header .header_container button {
    background: #0000;
}

.header_title_contaniner {
    display: block;
    margin: 0 8px;
}

.header_title_contaniner .icon {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    font-size: 1.3rem;
    cursor: pointer;
}

.header_title_contaniner .icon .fas {
    position: relative;
    top: 3px;
}

.header_title_contaniner .header_title {
    margin-right: 14px;
    position: relative;
    display: inline-block;
}

.full_view {
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    max-width: 1100px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.full_view_container {
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* height: 100%; */
    /* width: 100%; */
    /* overflow: auto; */
    padding-top: calc(60px + 0.5rem);
    padding-bottom: 86px;
}

.full_view_container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#full_iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.mou_panal {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    /* transition: 0.5s; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    visibility: hidden;
}

.mou_panal.active {
    position: relative;
    z-index: 2;
    animation: 0.5s linear 0s show_mou_panal;
    animation-fill-mode: forwards;
}

.mou_panal.hiden {
    z-index: 1;
    opacity: 0;
    animation: 0.2s linear 0s hide_mou_panal;
    animation-fill-mode: forwards;
}

@keyframes show_mou_panal {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hide_mou_panal {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }

}